/* =====================
   THEME VARIABLES
===================== */
:root {
    --bg-color: #f5f5f5;
    --text-color: #222;
    --card-bg: #ffffff;
    --border-color: #e5e5e5;
    --muted-text: #666;
    --accent: #4f46e5;
  }
  
body.dark {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: #1e1e1e;
  --border-color: #3f3f3f;
  --muted-text: #c7c7c7; 

  --accent: #a5b4fc;
}

